body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	background-color: #F2F6F7;
	text-align: center;
	text-overflow: ellipsis;
}
#status {
	white-space: pre;
	font-size: 14pt;
	color: #53676E;
}
#onshift {
	white-space: pre;
	font-size: 10pt;
}

#opening {
	white-space: pre;
	font-size: 9pt;
}