body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	background-color: #F2F6F7
}
#status {
	/* avoid an excessively wide status text */
	white-space: pre;
	text-overflow: ellipsis;
	overflow: visible;
	max-width: 500px;
	color: #53676E
}
#onshift {
	font-size: 10pt;
	text-align: center;
}

#opening {
	font-size: 9pt;
	text-align: center;
}